/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* Mobile First */

.lineaDivisoria {
	opacity: 0;
}

.solutions-container {
	overflow: hidden;
}

.solutions-container > .solutions-item {
	float: left;
	height: 50px;
	width: 20%;
}

.testimonials-author {
	margin-top: 40px;
}

.testimonials-author .testimonials-author__image {
	display: block;
	width: 100%;
}

.testimonials-author .testimonials-author__image .image {
	width: 30%;
}

.testimonials-author .testimonials-author__info {
	display: block;
	width: 100%;
	text-align: center;
}

.testimonials-author .testimonials-author__info .testi-meta {
	margin-top: 0;
}



.testi-text-container .textotestimonials + .textotestimonials {
	margin-top: 15px;
}

/* Only Mobile */
@media (max-width: 376px) {
	#logo img {
		height: 50px;
		margin-top: 22px;
	}

	#top-search {
		padding: 22px 0;
	}

	.voice-mobile {
		display: none;
	}

	.voice-switch {
		padding: 0px 20px 0 25px;
	}

	.voice-switch.apagado,
	.voice-switch.encendido {
		background-position: 12px 12px;
	}

	.span-mobile-block {
		display: block;
		width: 100%;
		text-align: center;
	}
	
	#section-home .container {
		width: 100% !important;
	}

	#section-home .lead {
		font-size: 16px !important;
	}

	#section-home .emphasis-title .ctexto {
		font-size: 22px;
	}

	#section-home.diapositiva {
		padding-top: 30% !important;
	}
	
	.challenge-wrapper-image {
		height: 0 !important;
		padding: 0 0 30px;
		background-image: none !important;
	}

	.col-padding-mobile {
		padding: 30px;
	}

	.wrapChallenge {
		width: 100%;
		padding-top: 0;
		padding-right: : 10px;
		padding-left: 10px;
	}

	.wrapChallenge .heading-block {
		text-align: center;
	}
	.wrapChallenge .heading-block::after {
		margin: 30px auto 0;
	}

	.challenge-text-container {
		text-align: center;
	}

	.challenge-text-container .textoChallenge {
		text-align: left;
	}

	#section-mvp .textMVP {
		padding: 0 15px;
	}

	#section-solution.container {
		width: 100% !important;
	}

}


/* Tablet */
@media (min-width: 377px) {
	.testimonials-author .testimonials-author__image {
		display: inline-block;
		width: 20%;
		vertical-align: middle;
	}

	.testimonials-author .testimonials-author__image .image {
		width: 80%;
	}

	.testimonials-author .testimonials-author__info {
		display: inline-block;
		width: 60%;
		text-align: left;
		vertical-align: middle;
	}
	
	.testimonials-author .testi-meta {
		font-size: 20px;
	}

	.testimonials-author .testimonials-author__info.small {
		width: 40%;
	}
}

@media (min-width: 769px) {

	.testimonials-author .testimonials-author__info {
		width: 75%;
	}

	.testimonials-author .testimonials-author__info.small {
		width: 50%;
	}

	.testi-text-container.default {
		min-height: 220px;
	}
	.testi-text-container.font-big {
		min-height: 380px;
	}
}
@media (min-width: 377px) and (max-width: 992px) {
	.testimonials-author .testimonials-author__image {
		padding-right: 20px;
		text-align: right;
	}
	.testimonials-author .testimonials-author__image .image {
		width: 55%;
	}
}



/* From mobile to tablet */
@media (max-width: 992px) {

	#logo {
		display: inline-block;
		margin-left: 35px !important;
	}

	#primary-menu {
		float: right;
	}

	.wrap-txtsize {
		display: none;
	}

	.voice-switch {
		font-size: 12px;
	}
}



/* Desktop */

@media (min-width: 992px) {

	.primary-menu-list {
		display: none;
	}
	
	.lineaDivisoria {
		opacity: 1;
	}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.lineaDivisoria {
		left: 80%;
	}
}




