/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* Mobile First */

.allow-overflow-y {
	overflow-y: auto;
}

.testi-content .textotestimonials{
	font-size: 16px;
}

.lineaDivisoria {
	opacity: 0;
}

 h2.section-title,
.heading-block h2.section-title {
	position: relative;
	margin: 0 0 30px;
	font-family: CorpidE1sBold !important;
  font-size: 26px!important;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 3px;
  color: #333;
}

h2.section-title.ligth,
.heading-block h2.section-title.ligth {
	color: #fff;
}

h2.section-title .section-title-highlight,
.heading-block h2.section-title .section-title-highlight {
  font-size: 26px!important;
	color: #17b5a9;
}

.solutions-container {
}

.solutions-container > .solutions-item {
	width: 100%;
}

.solutions-container > .solutions-item > .solutions-item__link {
	display: block;
	width: 100%;
	text-align: center;
}

.solutions-container > .solutions-item > .solutions-item__link > .solutions-item__link-image  {
	height: 90px;
}

.solutions-container > .solutions-item > .solutions-item__link > .solutions-item__link-text  {
	display: block;
	margin: 10px 0 15px;
	font-family: CorpidE1sBold!important;
  font-size: 18px;
  color: #01b3ac;
}

.solutions-container > .solutions-item > .solutions-item__link > .solutions-item__link-text > .link-hover  {
	padding-bottom: 5px;
	border-bottom: 0 solid #43555f ;
  transition: all .2s ease;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease; 
		-ms-transition: all .2s ease; 
}

.solutions-container > .solutions-item > .solutions-item__link:hover > .solutions-item__link-text > .link-hover  {
	border-bottom: 3px solid #43555f;

}


.testimonials-author {
	margin-top: 40px;
}

.testimonials-author .testimonials-author__image {
	display: block;
	width: 100%;
}

.testimonials-author .testimonials-author__image .image {
	width: 30%;
}

.testimonials-author .testimonials-author__info {
	display: block;
	width: 100%;
	text-align: center;
}

.testimonials-author .testimonials-author__info .testi-meta {
	margin-top: 0;
}



.testi-text-container .textotestimonials + .textotestimonials {
	margin-top: 15px;
}


.team-people-list {}

.team-people-list > .row-4-elm {}

.team-people-list > .row-3-elm {
	margin-bottom: 50px;
}

.team-people-item {
	text-align: center;
}

.team-people-item__image {
	margin: 0;
}

.team-people-item__image img {
	border: 2px solid #dfe3e5;
	border-radius: 50%;
	width: 170px; 
	margin: 0 auto;
}

.team-people-item__name {
  color: #ed145d;
  font-family: CorpidE1sRegular;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: normal;
  margin: 16px 0 5px;
}

.team-people-item__role {
	font-family: CorpidE1s;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #a6a6a6;
  margin-bottom: 16px;
}

#section-keynumbers .key-result {
	height: 320px;
	
}

#section-keynumbers .key-result:nth-of-type(1) {
	background-color: #1d2229;
}

#section-keynumbers .key-result:nth-of-type(2) {
	background-color: #252b34;
}

#section-keynumbers .key-result:nth-of-type(3) {
	background-color: #2b313a;
}

#section-keynumbers .key-result:nth-of-type(4) {
	background-color: #252b34;
}

.key-result__image {
	position: relative;
	margin-bottom: 20px;
	padding: 74px 0 30px;
}

.key-result__description {
	font-family: CorpidE1sRegular;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  /*padding: 0 20%;*/
}

.key-result__image:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 2px;
	background-color: #ed145d;
}


/* Only Mobile */
@media (max-width: 376px) {
	#logo img {
		height: 50px;
		margin-top: 22px;
	}

	#top-search {
		padding: 22px 0;
	}

	.voice-mobile {
		display: none;
	}

	.voice-switch {
		padding: 0px 20px 0 25px;
	}

	.voice-switch.apagado,
	.voice-switch.encendido {
		background-position: 12px 12px;
	}

	.span-mobile-block {
		display: block;
		width: 100%;
		text-align: center;
	}
	
	#section-home .container {
		width: 100% !important;
	}

	#section-home .lead {
		font-size: 16px !important;
	}

	#section-home .emphasis-title .ctexto {
		font-size: 22px;
	}

	#section-home.diapositiva {
		padding-top: 30% !important;
	}
	
	.challenge-wrapper-image {
		height: 0 !important;
		padding: 0 0 30px;
		background-image: none !important;
	}

	.col-padding-mobile {
		padding: 30px;
	}

	.wrapChallenge {
		width: 100%;
		padding-top: 0;
		padding-right: : 10px;
		padding-left: 10px;
	}

	.wrapChallenge .heading-block {
		text-align: center;
	}
	.wrapChallenge .heading-block::after {
		margin: 30px auto 0;
	}

	.challenge-text-container {
		text-align: center;
	}

	.challenge-text-container .textoChallenge {
		text-align: left;
	}

	#section-mvp .textMVP {
		padding: 0 15px;
	}

	#section-solution.container {
		width: 100% !important;
	}
	
	.team-list .team-title {
		float: none !important;
	}

	#section-contact {
		height: auto;
	}

	.row-4-elm + .row-3-elm, 
	.team-people-item + .team-people-item {
		margin-top: 30px;
	}

	#section-timeline .entry.clearfix.boxBorder {
		border-right: solid 2px #b8bec2 !important;
	}
}

@media (max-width: 479px) {
	.fix-testi-image {
		width: 100%;
		height: auto;
		margin-left: 0;
	}

	
	.fix-testi-image .fix-testi-a {
		width: 100%;
		height: auto;
		text-align: center;
		margin: 0;
		margin-left: 0 !important;
	}

	.fix-testi-image .logo-fix-mobile {
		width: auto;
		height: 50px;
		margin: 0 auto;
	}
	.fix-testi-image .logo-fix-mobile.small {
		height: 35px;
	}

	.fondoTimeline {
		background-image: none;
	}

	.fondoTimeline h2.t500 {
		padding-left: 16px;
		padding-right: 16px;
	} 
}


/* Tablet */
@media (min-width: 377px) {
	.testimonials-author .testimonials-author__image {
		display: inline-block;
		width: 20%;
		vertical-align: middle;
	}

	.testimonials-author .testimonials-author__image .image {
		width: 80%;
	}

	.testimonials-author .testimonials-author__info {
		display: inline-block;
		width: 60%;
		text-align: left;
		vertical-align: middle;
	}
	
	.testimonials-author .testi-meta {
		font-size: 20px;
	}

	.testimonials-author .testimonials-author__info.small {
		width: 40%;
	}

	.solutions-container {
		overflow: hidden;
	}

	.solutions-container > .solutions-item {
		float: left;
		width: 50%;
	}

	.team-people-list {
		overflow: hidden;
	}

	.team-people-list > .row-4-elm {
		overflow: hidden;
	}
	
	.team-people-list > .row-4-elm > .team-people-item {
		width: 50%;
		float: left;
	}

	.team-people-list > .row-3-elm {
		overflow: hidden;
	}
	
	.team-people-list > .row-3-elm > .team-people-item {
		width: 50%;
		float: left;
	}

	.team-people-list > .row-3-elm > .team-people-item:last-of-type {
		width: 100%;
	}

}

@media (min-width: 768px) {
	.solutions-container > .solutions-item {
		width: 20%;
	}
}

@media (min-width: 769px) {

	.testimonials-author .testimonials-author__info {
		width: 75%;
	}

	.testimonials-author .testimonials-author__info.small {
		width: 50%;
	}

	.testi-text-container.default {
		min-height: 220px;
	}
	.testi-text-container.font-big {
		min-height: 380px;
	}

	.team-people-list > .row-4-elm > .team-people-item {
		width: 25%;
	}

	.team-people-list > .row-3-elm {
		padding: 30px 12% 20px;
	}
	
	.team-people-list > .row-3-elm > .team-people-item {
		width: 33%;
	}

	.team-people-list > .row-3-elm > .team-people-item:last-of-type {
		width: 33%;
	}

	

}

@media (min-width: 377px) and (max-width: 767px) {
	.team-people-item__image img {
		width: 120px;
	}
}

@media (min-width: 377px) and (max-width: 992px) {
	.testimonials-author .testimonials-author__image {
		padding-right: 20px;
		text-align: right;
	}
	.testimonials-author .testimonials-author__image .image {
		width: 55%;
	}
}



/* From mobile to tablet */
@media (max-width: 992px) {

	#logo {
		display: inline-block;
		margin-left: 35px !important;
	}

	#primary-menu {
		float: right;
	}

	.wrap-txtsize {
		display: none;
	}

	.voice-switch {
		font-size: 12px;
	}
}



/* Desktop */

@media (min-width: 992px) {

	.primary-menu-list {
		display: none;
	}
	
	.lineaDivisoria {
		opacity: 1;
	}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.lineaDivisoria {
		left: 80%;
	}
}




